[class^="neat-select"] {
	box-sizing: border-box;
}

.neat-select {
	border-radius: 4px;
	border: 1px solid #999999;
}
.neat-select-single {
	padding-right: 10px;
	background-image: linear-gradient(to bottom, #ffffff, #e4e4e4);
}
.neat-select-single.neat-select-open {
	border-bottom: none;
	background-image: linear-gradient(to bottom, #e4e4e4, #ffffff 50%);
}
.neat-select-multiple {
	cursor: text;
}

.neat-select-open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.neat-select-caret {
	position: absolute;
	right: 5px;
	color: #999999;
	font-size: 75%;
}

.neat-select-value-container {
	cursor: pointer;
}

.neat-select-search-input {
	width: 100%;
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid #999999;
}
.neat-select-search-input.addable-option {
	width: calc(100% - 80px);
}
.neat-select-search-container {
	display: flex;
	align-items: center;
}

.neat-select-new-option-button {
	width: 80px;
	margin-left: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.neat-select-loading .lds-ring {
	display: inline-flex;
}

.lds-ring {
	display: none;
	position: relative;
	width: 16px;
	height: 16px;
	align-items: center;
}

.lds-ring div {
	box-sizing: border-box;
	position: absolute;
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.neat-select-new-option-button.neat-select-loading {

}

.neat-select-dropdown {
	padding: 5px;
	display: none;
	position: absolute;
	z-index: 1001;
	left: -1px;
	top: 100%;
	border: 1px solid #999999;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: white;
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
}
.neat-select-single .neat-select-dropdown {
	margin-top: -1px;
}

.neat-select-multiple .neat-select-dropdown {
	margin-top: 1px;
}

.neat-select-dropdown-item-container {
	overflow: auto;
	max-height: 200px;
	margin-top: 4px;
	position: relative;
}

.neat-select-dropdown-item {
	cursor: pointer;
	padding: 4px 8px;
}

.neat-select-active {
	background-image: linear-gradient(to bottom, #5376b5, #435d90);
	color: white;
}

.neat-select-dropdown-no-matches {
	padding: 4px 8px;
	color: #999999;
	display: none;
	overflow-wrap: break-word;
}

.neat-select-multiple-item {
	float: left;
	border: 1px solid #6a6e7b;
	border-radius: 4px;
	text-align: center;
	margin: 2px;
	background-image: linear-gradient(to bottom, #5376b5, #435d90);
	position: relative;
	padding: 2px 4px;
	color: white;
}

.neat-select-item-delete {
	margin-left: 6px;
	display: inline;
	cursor: pointer;
}
.neat-select-item-delete:hover {
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.neat-select-multiple-input {
	border: none;
	background-color: transparent;
	float: left;
	padding: 4px 8px 4px 4px;
}
.neat-select-disabled {
	pointer-events: none;
	color: #aaaaaa;
}
